@model SistemaDeEncomendas.Models.Clientes

@{
    ViewData["Title"] = "Novo cliente";
}
<div class="row align-items-center">
    <div class="col-auto d-flex align-items-center">
        <h1 class="navbar-brand text-dark d-flex align-items-center align-self-stretch"><i class="fa-solid fa-address-card fa-2x"></i>&nbsp;Novo Cliente</h1>
    </div>    
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating mb-3 form-group">                
                <input asp-for="Nome" id="Nome" type="text" class="form-control" placeholder="Insira seu nome completo" />
                <label for="Nome">Nome Completo*</label>
                <span asp-validation-for="Nome" class="text-danger"></span>
                </div>            

            @*<div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>*@
            <div class="form-floating mb-3 form-group">
                @*<label asp-for="Endereco" class="control-label"></label>*@   
                  <input asp-for="Endereco" id="Endereco" type="text" class="form-control" placeholder="Insira seu endereço completo" />
                <label for="Endereco">Endereço</label>                    
                <span asp-validation-for="Endereco" class="text-danger"></span>
                </div>            
            
            <div class="form-floating mb-3 form-group">                
                <input asp-for="Email" id="Email" type="email" class="form-control" placeholder="Insira seu e-mail completo" />
                <label for="Email">E-mail</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 form-group">                
                <input asp-for="Tel" id="Tel" type="tel" class="form-control" data-mask="(99) 99999-9999" placeholder="Insira seu número de telefone celular" />
                <label for="Tel">Celular*</label>
                <span asp-validation-for="Tel" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 form-group">                
                <input asp-for="TelAdc" id="TelAdc" type="tel" class="form-control" data-mask="(99) 99999-9999" placeholder="Insira seu número de telefone celular adicional (se tiver)" />
                <label for="Tel">Celular 2</label>
                <span asp-validation-for="TelAdc" class="text-danger"></span>
            </div>

            <div class="form-group">
                <br/>
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a asp-action="Index"><input type="button" value="Não Cadastrar" class="btn btn-danger" /></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
