@model SistemaDeEncomendas.Models.Encomendas

@{
    ViewData["Title"] = "Nova Encomenda";
}

<div class="row align-items-center">
    <div class="col-auto d-flex align-items-center">
        <h1 class="navbar-brand text-dark d-flex align-items-center align-self-stretch"><i class="fa-regular fa-handshake fa-2x"></i>&nbsp;Nova Encomenda</h1>
    </div>    
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating mb-3 form-group">             
                <textarea asp-for="Descricao" id="Descricao" type="text" class="form-control" placeholder="Insira as informações do pedido" style="height: 100px"></textarea>
                <label for="Descricao">Descrição do Pedido*</label>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FormaPagamento" class="control-label"></label>
                <select asp-for="FormaPagamento" class="form-control form-select">
                    <option value="A Definir" selected>A Definir</option>
                    <option value="Crédito">Crédito</option>
                    <option value="Débito">Débito</option>
                    <option value="Dinheiro">Dinheiro</option>
                    <option value="PIX">PIX</option>
                </select>
                <span asp-validation-for="FormaPagamento" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control form-select">
                    <option value="Preparando orçamento" selected>Preparando orçamento</option>
                    <option value="Aguardando cliente">Aguardando cliente</option>
                    <option value="Em produção">Em produção</option>
                    <option value="Aguardando retirada">Aguardando retirada</option>
                    <option value="Entregue">Entregue</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-floating mb-3 form-group">
                <input asp-for="Valor" id="Valor" class="form-control" placeholder="Insira o valor do orçamento" />
                <label for="Valor">Valor*</label>
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ClientesId" class="control-label"></label>
                <select asp-for="ClientesId" class ="form-control form-select" asp-items="ViewBag.ClientesId"></select>
            </div>

            <div class="form-group">
                <br/>
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a asp-action="Index"><input type="button" value="Não Cadastrar" class="btn btn-danger" /></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(function()
    {
        $("#Valor").maskMoney({ prefix: 'R$', allowNegative: false, thousands: '', decimal: '.', affixesStay: false });            
        });
</script>
}
